@import "tailwindcss";
@plugin "daisyui";

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

* {
    font-family: "Rancho", cursive;
    font-weight: 400;
    font-style: normal;
}

.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.chat-container {
    font-family: "Raleway", sans-serif !important;
}

.chat-glass {
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.chat-glass-dark {
    background: rgba(69, 26, 3, 0.85);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.custom-scrollbar::-webkit-scrollbar {
    width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: rgba(251, 191, 36, 0.05);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(120, 53, 15, 0.3);
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(120, 53, 15, 0.5);
}
